html {zoom: 100%}

body {
  background-image: url("../assets/luke-chesser-B_oL3jEt5L4-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
    position: relative;
}

.header {
    position: relative;
}

.header p {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    letter-spacing: 0px;
    word-wrap: break-word;
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
}

.subtitle {
    position: relative;
}

.subtitle p {
    color: #000000;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    letter-spacing: 0px;
    word-wrap: break-word;
    text-align: center;

    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 270%);
}

.text {
    position: relative;
}

.text p {
    color: #000000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    letter-spacing: 0px;
    word-wrap: break-word;
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 150%);

    padding-left: 15px;
    padding-right: 15px;
}
